.my-logo {
    height: 72px;
}


.header-wrapper {
    text-align: center;
}

header.masthead {
    background-image: url(../img/body-background.jpg);
}

.nav-design {
    background-color: rgba(0,0,0,0.3) !important;
}

#mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link, #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus {
    color:  white !important
}
#myVideo1,
#myVideo2,
#myVideo3,
#myVideo4,
#myVideo5 {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.wrap-1024p,
.wrap-768p,
.wrap-414p,
.wrap-320p {
    display: none !important;
}

#myVideo2,
#myVideo3,
#myVideo4,
#myVideo5 {
    display: none
}


@media only screen and (max-width: 1024px) {
    .wrap-1080p,
    #myVideo1 {
        display: none !important
    }
    .wrap-1024p,
    #myVideo2 {
        display: block !important;
    }
}
@media only screen and (max-width: 768px) {
    .wrap-1080p,
    #myVideo1 {
        display: none !important
    }
    .wrap-1024p,
    #myVideo2 {
        display: none !important;
    }
    .wrap-768p,
    #myVideo3 {
        display: block !important;
    }
}
@media only screen and (max-width: 414px) {
    .wrap-1080p,
    #myVideo1 {
        display: none !important
    }
    .wrap-1024p,
    #myVideo2 {
        display: none !important;
    }
    .wrap-768p,
    #myVideo3 {
        display: none !important;
    }
    .wrap-414p,
    #myVideo4 {
        display: block !important;
    }
}
@media only screen and (max-width: 320px) {
    .wrap-1080p,
    #myVideo1 {
        display: none !important
    }
    .wrap-1024p,
    #myVideo2 {
        display: none !important;
    }
    .wrap-768p,
    #myVideo3 {
        display: none !important;
    }
    .wrap-414p,
    #myVideo4 {
        display: none !important;
    }
    .wrap-320p,
    #myVideo5 {
        display: block !important;
    }
}
